.hint {
    text-align: center;
    font-size: 0.8rem;
    margin-block: 0.1rem;
}

.bits {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: var(--background-color);
    padding: 2rem;
    display: flex;
    margin-block-end: 1rem;
}

.bitId {
    font-size: 0.5rem;
    opacity: 0.3;
    text-align: center  ;
}