@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  background-color: #eee;
  --border-color: #ababd4;
  --padding-inline: 0.5rem; /* TODO: clamp these */
  --padding-block: 0.2rem; /* TODO: clamp these */
}

main {
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  --outer-padding: 3rem;
  padding-block: var(--outer-padding);
}

@media screen and (min-width: 768px) {
  main {
    padding-inline: var(--outer-padding);
  }
}

.result-value, .changeable-value {
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 3px;

  padding-inline: 0.5rem;
  padding-block: 0.2rem;
}
.changeable-value {
  border-style: dashed;
}
.result-value {
  border-style: solid;
}
