.calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    --border-color: rgb(135, 96, 39);
    --background-color: rgb(255, 251, 244);
    --padding: 2rem;
}

@media screen and (prefers-color-scheme: dark)  {
    .calculator {
        --border-color: rgb(135, 96, 39);
        --background-color: rgb(255, 251, 244);    
    }
}

.humanInfo {
    border-top: 1px dashed var(--border-color);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}